body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap: 1px;
  border: 5px solid #fff;
  padding: 5px;
  background-color: #000;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.filled {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.score-container,
.level-container {
  padding: 10px;
  border: 2px solid #fff;
  background-color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.score-label,
.level-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.score-value,
.level-value {
  font-size: 16px;
}
